* {
  font-family: Arial, "Free Sans";
}

body {
  background-color: #fff;
  font-family: 'Roboto';
}

#about {
	display:none;
}
.fillcheckbox {
	padding:1vw;
}

#widget-create {
	display:none;
}

td {
	float:left;
}

#container {
  color: #fff;
}
#container #question {
  display: block;
  padding: 20px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 40px;
}
#container div {
  font-weight: bold;
  letter-spacing: -3px;
  background: #0099cc;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 34px;
  color: #ffffff;
  border-left: 20px solid #333;
  width: 400px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0 0.5em 0.5em 0;
  border-radius: 0 1.5em 1.5em 0;
}
#container div a {
  border-radius: 0.3em;
  text-decoration: none;
  color: #0099cc;
  padding: 5px 15px;
  background: #333;
  margin: 0 20px;
}
#container div a:hover {
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
}

/*nav-bar styles*/

/*.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
}*/

.nav-list {
  position: relative;
  /*text-decoration: none;*/
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closeNavList {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closeNavList {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*end nav-bar styles*/
