* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff;
}

#about {
	display:none;
}

#about > div {
  margin: 60px auto 0px auto;
  width: 40%;
  border: 3px solid #888;
  border-radius: 10px;
  padding: 10px;
}

#about img {
  width: 200px;
  border-radius: 10px;
  vertical-align: middle;
}

.profile, .organize {
  margin: 10px auto 0px auto;
}

.profile-left {
  float: left;
  display: inline-block;
  width: 200px;
}

.profile-right {
  padding-left: 10px;
  float: left;
  width: calc(100% - 220px);
  display: inline-block;
}

.profile-right h3 {
  font-size: 2em;
  margin-bottom: 5px;
  text-align: left;
}

.profile-right p {
  font-size: 0.9em;
}

.clearfix {
  clear: both;
}

.clearfix:last-child {
  margin-bottom: 0px;
}

/*instructions section styles*/

#instructions {
  display: none;
}

#instructions > div {
  margin: 60px auto 0px auto;
  width: 40%;
  border: 3px solid #888;
  border-radius: 10px;
  padding: 10px;
}

#instructions p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.howto {
  font-weight: bold;
}

/*end instructions styles*/

#widgets {
  display: none;
}

#widgets > div {
  margin: 60px auto 0px auto;
  width: 40%;
  border: 3px solid #888;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

#widgets > div div {
  margin: 10px auto 0px auto;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

label {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

#two-buttons {
  margin: 10px auto 0px auto;
  text-align: center;
}

#two-buttons button {
  width: 100px;
}

#browser-source-url {
  margin: 10px auto 0px auto;
}

#browser-source-url p {
  margin-bottom: 3px;
}

#browser-source {
  width: 80%;
  margin: 0px;
}

#test-button {
  width: 20%;
  max-width: 100px;
  margin: 0px;
}

#logout-div {
  margin: 10px auto 0px auto;
  text-align: center;
}

#logout {
  width: 100px;
}

/*nav-bar styles*/

#navBlock {
  display: none;
}

.overlay {
  display: none;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  background-color: #888;
}

.nav-list {
  width: 30%;
  margin: auto;
  text-align: center;
}

.nav-list div {
  display: inline-block;
  line-height: 40px;
  font-family: 'Amaranth', sans-serif;
  text-align: center;
  width: 30%;
  margin-right: 4%;
}

.nav-list div:last-child {
  margin-right: 0px;
}

.overlay a {
  text-decoration: none;
  color: #000;
}

 #bittools-logo {
   position: fixed;
   z-index: 999;
   left: 10px;
   top: 5px;
   height: 30px;
   font-family: 'Amaranth', sans-serif;
   font-size: 30px;
   line-height: 30px;
 }

  #hamburger {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #444;
    color: #FFF;
    cursor: pointer;
    margin-top: -5px;
    margin-right: 10px;
    display: inline-block;
  }

/*@media all and (max-width:500px) {
  #nav-list {
    display: none;
  }
}*/
/*end nav-bar styles*/

/*login styles*/
#login {
  display: none;
}

#login div {
  margin: 60px auto 0px auto;
  width: 40%;
  text-align: center;
}

#login p {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login img {
  margin: auto;
}
