* {
  font-family: Arial, "Free Sans";
}

body {
  background-color: #fff;
  font-family: 'Roboto';
  /*body {
  margin: 0;
  padding: 0;
  }*/
}

#about {
	display:none;
}

/*instructions section styles*/

#instructions {
  display: none;
  border-left: 5px solid rgba(155,190,90,0.8);
  bor
  position: absolute;
  align-content: center;
  margin: 20%;
  padding: 40px;
}

/*end instructions styles*/

#widget-form {
  display:none;
}

button {
  cursor: pointer;
}

/*nav-bar styles*/
/*@media all and(min-width: 500px) {
  #nav-list {
    display: none;
  }
}*/
.overlay {
  height: 15%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  background-color: #6441a5;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-list {
  position: absolute;
  width: 100%;
  margin-top: 40px;
  text-align: left;
}

#home, #instructionsNav, #aboutNav {
  display: inline-block;
}

.overlay a {
  padding-right: 10px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

/*@media all and (max-width: 500px) {
  #nav-list {
    display: none;
  }
}*/

/*end nav-bar styles*/

/*login styles*/
#login {
  display: none;
}
